/* NAVBAR */
/* cette page a ete réalisée par Adrien */

.navbar {
    background-color: #172d47;
    color: white;
    width: 100%;
    height: 100px;
    min-width: 100px;
    position: absolute;
    left: 0;
    top: 0;
    /*margin-top: -20px;*/
}

.navbar:hover {
    background-color: #000419; 
    /*margin-top: -10px;*/
}

.navbar h1 {
    color: white;
    font-family: "Archivo Black", serif;
    left: 30px;
    position: relative;
    width: 200px;
    
}

.navbar a {
    color: white;
    font-family: "Archivo Black", serif;
    position: relative;
    text-decoration: none;
    display: flexbox;  
}

#element_1 {
    top: -55px;
    left: 80%;
}

#element_2 {
    top: -55px;
    left: 82%;
}



/* PAGE */

.page {
    width: 100%;
    position: absolute;
    top: 100px;
    height: 1000px;
    left: 0;


}

.page h1 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 90%;
    left: 10%;
    top: 5%;
    display: flex;
    position: relative;
    height: 10%;
    font-size: 250%;
    background: #172d47
}

.page h2 {
    color: white;
    top: 30px;
    display: flex;
    position: relative;
    left: 10%;
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 130%;
    width: 90%;
}

#titre_actu {
    position: relative;
    display: flex;
    top:120px;
    color: white;
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;
    background: linear-gradient(#172d47, #0073ff, #ADD4F3);
    width: 80%;
    left: 5%;
    padding: 2.5%;
    border-radius: 50px;
}

#texte-actu {
    position: relative;
    display: flex;
    top:120px;
    color: white;
    font-family: 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background: linear-gradient(#172d47, #0073ff, #ADD4F3);
    width: 80%;
    left: 5%;
    padding: 2.5%;
    border-radius: 50px;


}

















.raccourcis {
    width: 200px;

}

/* Style des liens utilisés comme boutons */
a.raccourcis {
    display: inline-block;
    background-color: #1f1f1f;
    color: white;
    padding: 15px 20px;
    font-size: 1.2em;
    text-decoration: none;
    border-radius: 5px;
    margin: 20px auto;
    text-align: center;
}

a.raccourcis:hover {
    background-color: #f1c40f;
}


/* AUTRE */

body {
    background-color: #ADD4F3;
    height: 3500px
}